@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700&family=Poppins:wght@500;700;900&family=Bad+Script&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.groom {
  fill-opacity: 0;
  stroke: #597159;
  stroke-width: 0px;
  stroke-dasharray: 4500;
  width: 100%;
  animation: draw 6s ease 0.5s forwards;
  max-width: 350px;
 
}


.bride {
  fill-opacity: 0;
  stroke: #597159;
  stroke-width: 0px;
  stroke-dasharray: 4500;
  width: 100%;
  max-width: 300px;
  animation: draw 6s ease 2.2s forwards;
}

.dan {
  fill-opacity: 0;
  stroke: #597159;
  stroke-width: 0px;
  stroke-dasharray: 4500;
  width: 100%;
  max-width: 300px;
  animation: draw 4s ease 1.5s forwards;
}





@keyframes draw {
  0% {
    stroke-dashoffset: 4500;
    stroke-width: 0px;
  }
  10% {
    stroke-width: 1.5px;
    fill-opacity: 0.1
  }
  50% {
    stroke-width: 1.5px;
    fill-opacity: 01
  }
  100% {
    stroke-dashoffset: 0;
    stroke-width: 1.5px;
    fill-opacity: 1;
  }
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  @apply bg-blue-300;
}
::-webkit-scrollbar-thumb {
  @apply bg-white rounded-full;
}

.comment-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.comment-scrollbar::-webkit-scrollbar-track {
  @apply bg-white;
}
.comment-scrollbar::-webkit-scrollbar-thumb {
  @apply bg-blue-300;
}

.hidden-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

.hidden-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

@font-face {
  font-family: GreatVibes-Regular;
  src: url(/fonts/GreatVibes-Regular.ttf);
}

html,
body {
  font-family: "Comic Neue", cursive;
}

.latin-20 {
  font-weight: 300;
  font-size: 40px;
  font-family: GreatVibes-Regular;
  line-height: 1.2;
}
.latin-25 {
  font-weight: 300;
  font-size: 45px;
  font-family: GreatVibes-Regular;
  line-height: 1.2;
}

/* For Chrome, Safari, Edge, and Opera */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* For Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.breakWord {
  max-width: 100%; /* atau nilai yang sesuai */
  overflow-wrap: break-word; /* Mengizinkan teks untuk membungkus jika terlalu panjang */
  word-break: break-word; /* Memecah kata panjang jika perlu */
}

.steps {
  animation: typing 3.5s steps(40, end) infinite;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
